#toDoContainer {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media screen {
  #toDoContainer {
    flex-direction: column;
    width: 250px;
  }
}

