.logoHome{
    margin-top: 100px;
    position: absolute;
    right: 0px;
    max-width: 100%; 
    display: block; 
    height: auto;
}

.about{
    width: 50%;
    height: 120px;
    flex-direction: column;
    position: absolute;
    bottom: 10%;
    right: 3%;
    text-align: right;
}
.Nome{
    font-size: 28px;
    font-weight: 600;
    color:rgb(193, 98, 245);
    
}
.GitHub{
    font-weight: 600;
    color: rgb(10, 245, 133)8;
}

.Linkedin{
    font-weight: 600;
    color: rgb(10, 245, 133);
}

@media screen and (max-width: 700px) {
    .homeImage{
        flex-direction: column;
        width: 80%;
        height: 370px;
        margin: 0 auto;
    }
    .home-content{
        width: 300px;
    }
    
}
