.homeImage{
    margin-top: 100px;
    position: absolute;
    right: 0px;
    max-width: 100%; 
    display: block; 
    height: auto;
}

.about{
    width: 50%;
    height: 120px;
    flex-direction: column;
    position: absolute;
    bottom: 10%;
    right: 3%;
    text-align: right;
}
.Nome{
    font-size: 28px;
    font-weight: 600;
    color:rgb(193, 98, 245);
    
}
.GitHub, .Linkedin{
    font-weight: 600;
}

@media screen and (max-width: 700px) {
    .homeImage{
        display: none;
    }
    
}
