#cardPosts{
    background-color: rgba(241, 202, 253, 0.733);
    width: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-left: 40px;
    margin-bottom: 20px;
    padding: 20px;
}
#cardPosts:hover {
    box-shadow: 5px 15px 15px 1px rgba(186, 158, 189, 0.925);
    transform: scale(1);
}

.postsTitle{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

.postsId{
    font-size: 18px;
    font-weight: bolder;
}

@media screen and (max-width: 1100px ) {
    #card-posts{
        width: 440px;
    }
}

@media screen and (max-width: 540px ) {
    #card-posts{
        width: 350px;
    }
}