.albumContainer{
    display: flex;
    flex-direction: column;
}
#albumContainerCard{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 200px;
}

@media screen and (max-width: 1100px ) {
    #albumContainerCard{
        flex-direction: column;
        width: 350px;
        margin-top: 220px;
    }
}

@media screen and (max-width: 700px) {
    #albumContainerCard{
        flex-direction: column;
        width: 370px;
        margin-top: 220px;
    }
}