#cardAlbum{
    background-color: rgba(241, 202, 253, 0.733);
    display: block;
    width: 95%;
    padding: 10px;
    border-radius: 5px;
}

.cardAlbumContent{
    display: flex;
}

.cardImage{
    margin-right: 10px;
    width: 180px;
    height: 180px;
    border-radius: 5px;
}

@media screen and (max-width: 540px) {
    #cardAlbum{
        margin-left: 10px;
        width: 300px;
    }
}